<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tu Tienda de Ropa</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>

  <h1>Bienvenido a nuestra tienda de ropa</h1>
  <p>¡Explora nuestra colección y encuentra las últimas tendencias de la moda!</p>
  
  <%- include('partials/footer') %>
</body>
</html>
